@import url("../viewer/style.css");

html {
    margin: 0;
    padding: 0;
    font-family: "Junicode", serif;
    line-height: 1.2;
    text-align: left;
}

body {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: stretch;
    align-items: stretch;
    margin: 0;
    padding: 1rem 0;
    height: calc(100vh - 2rem);
    -webkit-font-feature-settings: "onum";
    -moz-font-feature-settings: "onum";
    font-feature-settings: "onum";
}

body > header {
    display: block;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 1rem;
    border-bottom-width: thin;
    border-bottom-style: solid;
    text-align: center;
}

#lexis-viewer-splash {
    line-height: 2.2rem;
    font-size: 1rem;
    margin: 0;
    -webkit-animation-duration: 2s;
    -webkit-animation-name: pulse;
    -webkit-animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-name: pulse;
    animation-iteration-count: infinite;
}

body > main {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-items: stretch;
    align-items: stretch;
    margin: 0;
    padding: 1rem;
    overflow: hidden;
}

body > main > nav {
    display: block;
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    margin: 1rem 0;
    padding: 0 1rem;
    width: 16rem;
    border-right-width: thin;
    border-right-style: solid;
    overflow: auto;
    hyphens: auto;
}

#lexis-viewer-search {
    margin: auto;
    text-align: center;
}

#lexis-viewer-input {
    width: calc(100% - 1rem);
}

#lexis-viewer-tags {
    width: calc(100% - 1rem);
}

body > main > nav a:not([hidden]) {
    display: block;
    margin: .5rem 0;
    text-decoration: none;
}

#lexis-viewer-word {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: 0;
    padding: 1rem;
    width: 72rem;
    overflow: auto;
}

body > footer {
    display: block;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    clear: both;
    border-top-width: thin;
    border-top-style: solid;
}

p {
    margin: .5rem 0;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    margin: .5rem 0;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.3em;
}

h6 {
    font-size: 1.2em;
}

*:not(li) > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li > ul {
    list-style-type: disc;
}

@keyframes pulse {

    from {
        font-size: 1rem;
    }

    50% {
        font-size: 1.2rem;
    }

    to {
        font-size: 1rem;
    }

}

@-webkit-keyframes pulse {

    from {
        font-size: 1rem;
    }

    50% {
        font-size: 1.2rem;
    }

    to {
        font-size: 1rem;
    }

}
